*{
margin: 0;
padding: 0;
background-color: black;
font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}

h2{
      text-align: center;
      font-size: 30px;
      margin-top: 20px;
      color: white;
}

/*--navigation--*/
#navigation{
      position: sticky;
      top: 0;
      z-index: 10;
      height: -20px;
}
#navigation .navbar-brand img{
      height: 30px;
      padding-left: 30px; 
}
#navigation .navbar-nav li{
      padding: 0 10px;
}
#navigation .navbar-nav li a{
      float: right;
      text-align: left;
}
#navigation ul li a:hover{
      color: #ffffff!important;
      font-weight: bold;
}
#navigation .navbar{
      background: black;
}
/*#navigation .navbar-toggler{
      border: none;

}*/
#navigation .nav-link{
      color:white!important;
      font-weight: 500;
      font-size: 16px;
      position: sticky;
}
#navigation .nav-link::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #ffffff;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
}
#navigation .nav-link:hover::before{
      visibility: visible;
      transform: scaleX(1);
}

/*--home--*/
#home .container{
      height: 100vh;
      text-align: left;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
}

#home h1{
      font-size: 50px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: #ffffff ;
}
#home h2{
      text-align: left !important;
      font-size: 40px;
      font-weight: 700;
      margin-bottom: 10px;
      text-transform: uppercase;
      color: #ffffff ;
}

#home h3{
      font-size: 30px;
      letter-spacing: 0.1em;
      margin-top: 0;
      margin-bottom: 30px;
      text-transform: capitalize;
      color: #ffffff;
      font-weight: 500;
}

#home .social{
      float: left;
}

#home .social .fa{
      color: #ffffff;
      font-size: 30px;
      margin-right: 30px;
}

/*--projects--*/

#projects .container{
      margin-top: 0px;
      margin-bottom: 0px;
}

#projects h2{
      color: white;
}

#projects .container .list{
      margin-top: 40px;
}
#projects .container img{
      height: 250px;
      margin-bottom: 30px;
      cursor: pointer;
}



/*--*/

/*--*/

/*--*/